## RStudio files
.Rproj.user

## History
.Rhistory


data
output

output/*RDA
output/*Rdata
output/univariate_variance/nperm1000/*

analysis/*_cache/
drafts/*_cache/
.Ruserdata

*DS_Store
*err
*out

*talk_figures*
*html

sandbox/